div {
    margin: 0px 0px;
    padding: 0px 0px;
}

html, body {
    min-height: 100%;
    padding: 0px 0px;
    margin: 0 0;
}

::placeholder {
    color: black;
}


.w3-light-grey.w3-content {
    padding: 0px 0px;
    margin: 0;
    max-width: none;
}

.w3-third img{
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer
}

.w3-third img:hover{
    opacity: 1
}

.w3-input {
    background-color: transparent;
    box-shadow: 0 6px 6px rgba(10,16,20,.15), 0 0 52px rgba(10,16,20,.12);
    border-bottom: none;
}

.w3-center {
    font-size: 50px;
}

.w3-container.w3-light-grey.w3-padding-32.w3-padding-large {
    background-image: url("../img/moab.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    padding: 0px 0px;
    background-attachment: fixed;
}

.w3-container{
    text-align: center;
}


.input-medium.bfh-states {
    width: 20px;
}

.state_form .btn-default {
    display: inline-block;
}

.mainSearch {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.mainSearch>p{
    text-align: center;
}

.about {
    text-align: left;
    font-size: 1vw;
}



#upload-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    align-items: baseline;
}
#category {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

.stateFilter {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
}

#filter-button {
    margin-left: 20px;
}



ul.navbar-nav li {
    margin-left: 50px;
}

a.navbar-brand {
    font-size: 2vw;
}

ul.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 50px;
    font-size: 1vw;
}