div {
    margin: 0px 0px;
    padding: 0px 0px;
}

/* Styling for index.html */
body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}

html, body {
    min-height: 100%;
    padding: 0px 0px;
    margin: 0 0;
}


.w3-third img{
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer
}

.w3-third img:hover{
    opacity: 1
}

.titleSection {
    height: 400px;
    width: 100%;
/*    We have to put the background-image css inline*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0px 0px;
    background-attachment: fixed;
    text-align: center;
}

.titleSection h1 {
    font-size: 50px;
    font-weight: bold;
}

.w3-content {
    width: 100% !important;
    margin: 0 auto;
    flex: 1 1 100%;
    max-width: 1200px;
    width: 700px;
}

.w3-container {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.personContainer {
    display: flex;
    flex-direction: row;
}

imageContainer {
    max-width: 50%;
    display: flex;
    justify-content: right;
}

img {
    flex: 1 1 50%;
    height: auto;
}

ul.navbar-nav li {
    margin-left: 50px;
}

a.navbar-brand {
    font-size: 2vw;
}

ul.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 50px;
    font-size: 1vw;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}